*
{
  box-sizing: border-box;
}

body
{
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(53, 47, 47);
  color:white;  
}

button
{
  height: 42px;
  width: 42px;
  background-color: rgba(70, 60, 60, 0.8);
  border: none;
  border-radius: 21px;
  cursor: pointer;
}

/* the div that holds everthing in the project */

#stopwatchDiv
{
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-content: space-around; 
  justify-content: space-around;  
  align-items: center;   
  border: 2px solid black;
  min-height: 550px;
  min-width: 360px;
  background-color: black;
}

/* 3 main flex items css (menu, content, control button) */

#stopwatchDiv > div
{
  border: 2px solid black;
  /* the margin and height is specific for each flex item */
  min-width: 345px;
  padding: 4px;
  display: flex;
  /* the flex direction and main-axis alignment is specific for each flex item */
  align-items: center;
}

#stopwatchMenu
{
  min-height: 40px;
  margin: 5px 2px;
  flex-direction: row;
  justify-content: space-around;
}

#stopwatchContent
{
  flex: 1;
  margin: 20px 2px;
  flex-direction: column;
  justify-content: center;
}

#stopwatchButtons
{
  min-height: 40px;
  margin: 20px 2px;
  flex-direction: row; 
  justify-content: space-around;
}

/* d */

.stopwatchMenuIcon
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  min-height: 30px;
}

.stopwatchMenuIcon a
{
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.stopwatchMenuIcon img,
#stopwatchButtons img
{
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
}

.play-button
{
  margin-left: 2px;
}

.pause-button
{
  margin-bottom: -2px;
  margin-right: 2px;
}

.lap-button
{
  width: 26px;
  height: 26px;
  margin-left: 2px;
}

/* d */

.stopwatch-time-field
{
  border: 2px solid black;
  min-width: 300px;
  min-height: 60px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: bold; 
}

.stopwatch-laps
{
  border: 2px solid black;
  min-width: 300px;
}

.stopwatch-laps-rendered
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 6px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 400;
}

.lap-number,
.lap-time
{
  color: gray;
}

.lap-finish-time
{
  color:white;
}


